body
    background: pink

.container
    header
        background: orange
        height: 100px
        padding: 20px

    main
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-content: stretch
        align-items: stretch

        .sidebar1
            background: white
            width: 20%
            h2
                text-align: center
        .text
            background: #999
            width: 60%
            h1
                text-align: center
        .sidebar2
            background: white
            width: 20%
            h2
                text-align: center

    footer
        background: orange
        height: 50px
        padding: 20px

